body {
    background: #2E8B57;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
    color: #006400;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #90EE90;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #006400;
}

#mainNavbar .navbar-brand {
    color: #006400;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #006400;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

#icon {
    max-block-size: 7rem;
}

.navbar.scrolled {
    background: rgb(52, 170, 115);
    transition: background 500ms;
}

@media (max-width: 1500px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}
@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 2rem;
    }
}